<!doctype html>
<html ng-app='myApp'>
  <head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
 	<!-- CSS : bootstrap & local css file -->
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="/public/css/style.css">
  <!-- AngularJS 1.3.0 (beta) & local app.js file -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular.js"></script>
  <script src='/public/js/app.js'></script>
	<!-- Angular Route & Angular UI Bootstrap -->
  <script src="/public/js/angular-route.min.js"></script>
  <script src="/public/js/ui-bootstrap-0.10.0.min.js"></script>
  <!-- Firebase : Firebase, AngularFire & Simple Login -->
  <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>
	<script src="//cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
	<script src="https://cdn.firebase.com/js/simple-login/1.3.0/firebase-simple-login.js"></script>
	<!-- Custom JS -->
  </head>
  <body>
    <div class="navbar-home">
      <p class="navbar-home-brand">Dispatch Systems</p>
    </div> <!-- /navbar-home -->

    <div class="container">

      <div id="content">
        <center>
          <h3>CLICK TO:</h3>
          <a href="/auth/facebook"><img class="socialimages img-responsive" src="/public/imgs/loginfacebook.png"></a>
          <a href="/auth/twitter"><img class="socialimages img-responsive" src="/public/imgs/logintwitter.png"></a>
        </center>
      </div> <!-- /content -->

    </div> <!-- /container -->
  </body>
</html>
