<!doctype html>
<html>
  <head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
 	<!-- CSS : bootstrap & local css file -->
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/index.css">
  <link rel="stylesheet" href="/public/css/bootstrap-social.css">
  </head>
  <body>
    <div class="container">

      <div id="content">
        <div class="navbar-home">
          <p class="navbar-home-brand">Dispatch Ninja</p>
        </div>
        <center>
          <h3>Login</h3>
          <form role="form">
            <input type="text" class="form-control loginform" id="username" placeholder="Username">
            <input type="password" class="form-control loginform" id="password" placeholder="Password">
            <button class="btn btn-primary loginform" type="button" submit="/login/localuser">Login</button>
          </form>
          <br>

        <a class="btn btn-social-icon btn-facebook" href="/auth/facebook">
          <i class="fa fa-facebook"></i>Sign in with Facebook
        </a>

         <a class="btn btn-block btn-social btn-twitter" href="/auth/twitter">
          <i class="fa fa-twitter"></i> Sign in with Twitter
         </a>

        </center>
      </div> <!-- /content -->

    </div> <!-- /container -->
  </body>
</html>
