@media(min-width: 768px){

	html { 
		margin-top: 10%;
		background: url(/public/imgs/bg.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

#top {
	width: 100%;
	color: #FFFFFF;
	background-color: #772953;
	text-align: center;
	margin: 0 auto;
}

#content {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

h3 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

body {
	background-color: transparent;
}

.home-social-buttons {
	width: 50%;
	min-width: 250px;
	margin-bottom: 10px;}

.btn.btn-primary.loginform {
	margin-top: 10px;
	margin-bottom: -10px;
}
