/* Sidebar CSS */

/* Desktop media query */
@media(min-width: 768px){
  html,
  body {
    padding-top: 30px;
  }
}

#canvas {
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
#canvas #slide:before {
  content: '';
}
#canvas #slide:after {
  content: ' >';
}
@media (max-width: 768px) {
  #canvas #sidebar {
    position: absolute;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  #canvas.active {
    -webkit-transform: translate3d(50%, 0, 0);
    -moz-transform: translate3d(50%, 0, 0);
    -ms-transform: translate3d(50%, 0, 0);
    -o-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  #canvas.active #slide:after {
    content: ' ';
  }
  #canvas.active #slide:before {
    content: '< ';
  }
}