<div class="container" ng-init="sidebarIsActive = false">

	<div id="content" class="col-xs-12 col-sm-9">
		<h3 class="text-success">Create a group</h3>
		<input class="form-control" ng-model="group.name" placeholder="Group name" autocomplete="off" autocapitalize="off"><br>
		<input class="form-control" ng-model="group.password" placeholder="Group password" autocomplete="off" autocapitalize="off">	<button type='button' class="btn btn-primary" ng-click='createGroup(group)'>Create</button>
	</div> <!-- /content -->

</div> <!-- /container -->